<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>
<div class='row'>
<div class='col-md-4 mr-auto'>
  <%= form_with(model: [ @company, Employee.new ]) do |form| %>
    <div class="form-group">
      <%= form.label :first_name, "First Name"%>
      <%= form.text_field :first_name, class: 'form-control' %>
    <div class="form-group">
      <%= form.label :last_name, "Last Name"%>
      <%= form.text_field :last_name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= form.label :email, "Email"%>
      <%= form.text_field :email, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= form.label :area%>
      <%= form.select :area_id, Area.pluck(:name, :id), class: 'form-control'%>
    </div>
    <div class="form-group">
      <%= form.submit 'New Employee', class:'btn btn-primary btn-xs' %>
    </div>
  <%end%>
</div>
</div>

<table class="table text-center">
  <thead>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Area</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <% @company.employees.each do |employee| %>
  <tbody>
    <tr>
      <td> <%= employee.first_name %> </td>
      <td> <%= employee.last_name %> </td>
      <td> <%= employee.email %> </td>
      <td> <%= employee.area.name %> </td>
      <td> <%= link_to "Destroy", company_employee_path(@company, employee), method: :delete, class:'btn btn-danger btn-sm' %> </td>
    <%end%>
    </tr>
  </tbody>
</table>

<div>
  <%= link_to 'Edit', edit_company_path(@company), class: 'btn btn-info' %> |
  <%= link_to 'Back', companies_path, class: 'btn btn-dark' %>
</div>